<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <connectionStrings>
    <add connectionString="Data Source=ny-lw-017\sql2008;Initial Catalog=Apollo;Persist Security Info=True;User ID=heliosDotNet;Password=titan123;Connection Timeout=200;pooling='true';Max Pool Size=200" name="devConnString" providerName="" />
    <add name="stageConnString" connectionString="Data Source=SV-NYC-WEBSTAGE;Initial Catalog=Apollo;Persist Security Info=True;User ID=heliosDotNet;Password=titan123;Connection Timeout=200;pooling='true';Max Pool Size=200" providerName="" />
    <add name="prodConnString" connectionString="Data Source=SV-NYC-SQLPROD\WEBSQL;Initial Catalog=Helios;Persist Security Info=True;User ID=heliosDotNet;Password=titan123;Connection Timeout=200;pooling='true';Max Pool Size=200" providerName="" />
    <add connectionString="Data Source=ny-lw-017\sql2008;Initial Catalog=DAILY_KPI;Persist Security Info=True;User ID=kpiDotNet;Password=titan123;Connection Timeout=200;pooling='true';Max Pool Size=200" name="devKPIConnString" providerName="" />
    <add name="stageKPIConnString" connectionString="Data Source=SV-NYC-WEBSTAGE;Initial Catalog=DAILY_KPI;Persist Security Info=True;User ID=kpiDotNet;Password=titan123;Connection Timeout=200;pooling='true';Max Pool Size=200" providerName="" />
    <add name="prodKPIConnString" connectionString="Data Source=SV-NYC-SQLPROD\WEBSQL;Initial Catalog=DAILY_KPI;Persist Security Info=True;User ID=kpiDotNet;Password=titan123;Connection Timeout=200;pooling='true';Max Pool Size=200" providerName="" />
    <add connectionString="Data Source=ny-lw-017\sql2008;Initial Catalog=TITAN_TORONTO_CUST;Persist Security Info=True;User ID=heliosDotNet;Password=titan123;Connection Timeout=200;pooling='true';Max Pool Size=200" name="devTorontoConnString" providerName="" />
    <add name="stageTorontoConnString" connectionString="Data Source=SV-NYC-WEBSTAGE;Initial Catalog=TITAN_TORONTO_CUST;Persist Security Info=True;User ID=heliosDotNet;Password=titan123;Connection Timeout=200;pooling='true';Max Pool Size=200" providerName="" />
    <add name="prodTorontoConnString" connectionString="Data Source=SV-NYC-SQLPROD\WEBSQL;Initial Catalog=TITAN_TORONTO_CUST;Persist Security Info=True;User ID=heliosDotNet;Password=titan123;Connection Timeout=200;pooling='true';Max Pool Size=200" providerName="" />
    <add connectionString="Data Source=ny-lw-017\sql2008;Initial Catalog=TITAN_SALES;Persist Security Info=True;User ID=heliosDotNet;Password=titan123;Connection Timeout=200;pooling='true';Max Pool Size=200" name="devPendingConnString" providerName="" />
    <add name="stagePendingConnString" connectionString="Data Source=SV-NYC-WEBSTAGE;Initial Catalog=TITAN_SALES;Persist Security Info=True;User ID=heliosDotNet;Password=titan123;Connection Timeout=200;pooling='true';Max Pool Size=200" providerName="" />
    <add name="prodPendingConnString" connectionString="Data Source=SV-NYC-SQLPROD\WEBSQL;Initial Catalog=TITAN_SALES;Persist Security Info=True;User ID=heliosDotNet;Password=titan123;Connection Timeout=200;pooling='true';Max Pool Size=200" providerName="" />
    <add connectionString="Data Source=ny-lw-017\sql2008;Initial Catalog=TITAN_DIGITAL_AVAILS;Persist Security Info=True;User ID=heliosDotNet;Password=titan123;Connection Timeout=200;pooling='true';Max Pool Size=200" name="devDigitalAvailsConnString" providerName="" />
    <add name="stageDigitalAvailsConnString" connectionString="Data Source=SV-NYC-WEBSTAGE;Initial Catalog=TITAN_DIGITAL_AVAILS;Persist Security Info=True;User ID=heliosDotNet;Password=titan123;Connection Timeout=200;pooling='true';Max Pool Size=200" providerName="" />
    <add name="prodDigitalAvailsConnString" connectionString="Data Source=SV-NYC-SQLPROD\WEBSQL;Initial Catalog=TITAN_DIGITAL_AVAILS;Persist Security Info=True;User ID=heliosDotNet;Password=titan123;Connection Timeout=200;pooling='true';Max Pool Size=200" providerName="" />
  </connectionStrings>
  <cachingConfiguration defaultCacheManager="Cache Manager">
    <cacheManagers>
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Cache Manager" />
    </cacheManagers>
    <backingStores>
      <add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Null Storage" />
    </backingStores>
  </cachingConfiguration>
  <appSettings>
    <add key="titanSmtpAddress" value="172.18.0.92" />
    <add key="mailingName" value="apollo@titan360.com" />
    <add key="maxRatePercentage" value="10" />
    <add key="maxFlatRatePercentage" value="10" />
    <add key="maxFixedPointsPercentage" value="100" />
    <add key="LDAPPath" value="LDAP://DCNYC01" />
	<add key="useSqlServerADAuthentication" value="-1" />
    <add key="devSupportUsers" value="ssalamida;mmonsanto" />
    <add key="adminUserGroup" value="Apollo Admin Users" />
    <add key="agedRevFlashUserGroup" value="Apollo Aged Revenue Flash Users" />
    <add key="collectionsUserGroup" value="Apollo Collections Users" />
    <add key="corporateUserGroup" value="Apollo Corporate Users" />
    <add key="digitalUserGroup" value="Apollo Digital Users" />
    <add key="salesFlashFullUserGroup" value="Apollo Sales Flash Full Access" />
    <add key="salesUserGroup" value="Apollo Sales Users" />
    <add key="salesCoordinatorsGroup" value="@TITAN-SALES-COORDINATORS" />
    <add key="contractAdminGroup" value="@TITAN-CONTRACT ADMINISTRATION TEAM" />
    <add key="marketingGroup" value="Marketing" />
    <add key="digitalAvailsAdminGroup" value="Digital Avails Admin" />
    <add key="digitalAvailsAtlantaGroup" value="Digital Avails Atlanta" />
    <add key="digitalAvailsChicagoGroup" value="Digital Avails Chicago" />
    <add key="digitalAvailsNewJerseyGroup" value="Digital Avails New Jersey" />
    <add key="digitalAvailsPhiladelphiaGroup" value="Digital Avails Philadelphia" />
    <add key="digitalAvailsNewYorkGroup" value="Digital Avails New York" />
    <add key="digitalAvailsTorontoGroup" value="Digital Avails Toronto" />
    <add key="stationDomAmtrakGroup" value="Station Dom Avails Amtrak" />
    <add key="stationDomBostonGroup" value="Station Dom Avails Boston" />
    <add key="stationDomCharlotteGroup" value="Station Dom Avails Charlotte" />
    <add key="stationDomChicagoGroup" value="Station Dom Avails Chicago" />
    <add key="stationDomDallasGroup" value="Station Dom Avails Dallas" />
    <add key="stationDomLosAngelesGroup" value="Station Dom Avails Los Angeles" />
    <add key="stationDomMinneapolisGroup" value="Station Dom Avails Minneapolis" />
    <add key="stationDomNewJerseyGroup" value="Station Dom Avails New Jersey" />
    <add key="stationDomNewYorkGroup" value="Station Dom Avails New York" />
    <add key="stationDomPhiladelphiaGroup" value="Station Dom Avails Philadelphia" />
    <add key="stationDomSanFranciscoGroup" value="Station Dom Avails San Francisco" />
    <add key="stationDomSeattleGroup" value="Station Dom Avails Seattle" />
    <add key="stationDomAdminGroup" value="Station Dom Avails Admin" />
    <add key="SSRS_Reporting.ReportExecution2005" value="http://iisnyc01/ReportServer/ReportExecution2005.asmx" />
    <add key="SSRS_Reporting.ReportService2005" value="http://iisnyc01/ReportServer/ReportService2005.asmx" />
  </appSettings>
  <system.web>
    <caching />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <roleManager enabled="true" />
    <webServices>
      <conformanceWarnings>
        <remove name="BasicProfile1_1" />
      </conformanceWarnings>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="AjaxControlToolkit" />
        <add assembly="ScriptReferenceProfiler" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <httpRuntime executionTimeout="1200" maxRequestLength="2097151" requestValidationMode="2.0" />
    <sessionState timeout="60" />
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
      <customErrors mode="Off"></customErrors>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages maintainScrollPositionOnPostBack="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" enableEventValidation="false" viewStateEncryptionMode="Never">
      <controls>
        <add tagPrefix="ajax" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
        <add tagPrefix="microsoft" namespace="ScriptReferenceProfiler" assembly="ScriptReferenceProfiler" />
      </controls>
    </pages>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
    </httpHandlers>
    <trace enabled="true" pageOutput="false" requestLimit="500" localOnly="false" traceMode="SortByCategory" />
        <identity impersonate="false" />
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="209715200" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <location path="Apollo/digital/DigitalLibraryUploadHandler.ashx" allowOverride="true">
    <system.web>
      <authentication mode="None" />
    </system.web>
  </location>
  <location path="Apollo/digital/DigitalLibraryImageHandler.ashx" allowOverride="true">
    <system.web>
      <authentication mode="None" />
    </system.web>
  </location>
  <location path="Apollo/digital/DigitalLibraryPoPHandler.ashx" allowOverride="true">
    <system.web>
      <authentication mode="None" />
        <httpRuntime executionTimeout="180" />
    </system.web>
  </location>
  <location path="Apollo/Configuration_Profile_iPad.mobileconfig" allowOverride="true">
    <system.web>
      <authentication mode="None" />
    </system.web>
  </location>
  <location path="Apollo/quattro/QuattroAttachmentHandler.ashx" allowOverride="true">
    <system.web>
      <authentication mode="None" />
    </system.web>
  </location>
  <location path="Apollo/digital/DigitalLibraryDragNDropUploadHandler.ashx" allowOverride="true">
    <system.web>
      <authentication mode="None" />
    </system.web>
  </location>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>