<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <caching>
            <profiles>
                <add extension=".doc" policy="DisableCache" kernelCachePolicy="DisableCache" />
                <add extension=".jpg" policy="DisableCache" kernelCachePolicy="DisableCache" />
                <add extension=".pdf" policy="DisableCache" kernelCachePolicy="DisableCache" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>
